body
{
    background-color: white;
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
}

#fail-message
{
    position: fixed;
    z-index: 100;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

#video-file-selector
{
    z-index: 1;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
}

#content
{
    display: inline-block;
    text-align: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#header
{
    position: relative;
    z-index: 1;
    margin-top: 20px;
    font-size: 200%;
}

#header > #sub-header
{
    font-size: 50%;
}

#video-loading-spinner
{
    position: fixed;
    z-index: 100;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

#video-player
{
    position: absolute;
    z-index: 2; /* Above the header.*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    display: none;
}

#video-controls
{
    position: absolute;
    z-index: 3; /* Above the video player.*/
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    width: 97%;
    height: 40px;
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.7));
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

#video-seek-bar
{
    width: 100%;
}

#audio-peaks
{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color: rgba(82, 82, 82, 0.7);
    border-radius: 20px;
    z-index: 1;
}

#audio-peaks-image
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 20px;
}

#audio-peaks-canvas
{
    position: absolute;
    border-radius: 20px;
}

.slider
{
    position: absolute;
    top: 0;
    left: 0;
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    border-radius: 5px;   
    background: transparent;
    outline: none;
    padding: 0;
    margin: 0;
    z-index: 2;
    cursor: pointer;
}

.slider::-webkit-slider-thumb
{
    visibility: hidden;
    pointer-events: none;
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.slider::-moz-range-thumb
{
    visibility: hidden;
    pointer-events: none;
    appearance: none;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}
