body
{
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

#app
{
    width: 100vw;
    height: 100vh;
}

.message
{
    z-index: 1000; /* Above all else.*/
    text-align: center;
    padding: 7px;
    position: absolute;
    top: 1%;
    right: 1%;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border-radius: 4px;
}

#video-player
{
    position: absolute;
    z-index: 2; /* Above the header.*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
}

#test-canvas
{
    width: 96vw;
    height: 100%;
}

#bar-container
{
    overflow: hidden;
    z-index: 3; /* Above the video player.*/
    position: absolute;
    bottom: 2vh;
    left: 2vw;
    width: 96vw;
    height: 60px;
    background-color: transparent;
    border-radius: 4px;

    background: repeating-linear-gradient(-45deg,
                                          transparent,
                                          transparent 15px,
                                          rgba(255, 255, 255, 0.15) 15px,
                                          rgba(255, 255, 255, 0.15) 30px);

    transition: height 0.05s ease-in-out,
                opacity 0.05s ease-in-out;
}

#bar-container:hover
{
    height: 220px;
    opacity: 1;
}

#canvas-container
{
    width: 96vw;
    height: 100%;
    display: block;
    background-color: white;
    overflow: hidden;

    transition: height 0.05s ease-in-out,
                opacity 0.05s ease-in-out;
}

#bar-container:hover #canvas-container
{
    background-size: 25px 25px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
}

[v-cloak]
{
    display: none !important;
}

