body
{
    background-color: black;
    color: lightgray;
    text-align: center;
}

#content
{
    display: inline-block;
    text-align: left;
}

#video-container
{
    position: relative;
    width: 640px;
    height: 480px;
    background-color: black;
}

#video-player
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 470px;
    outline: none;
}

#video-controls
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
}

#audio-peaks
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: rgb(141, 141, 141);
    border-radius: 5px;
    z-index: 1;
}

#audio-peaks-canvas
{
    position: absolute;
    border-radius: 5px;
}

.slider
{
    position: absolute;
    top: 0;
    left: 0;
    -webkit-appearance: none;
    width: 666px;
    height: 10px;
    border-radius: 5px;   
    background: transparent;
    outline: none;
    padding: 0;
    margin: 0;
    margin-left: -13px;
    z-index: 2;
    cursor: pointer;
}

.slider::-webkit-slider-thumb
{
    pointer-events: none;
    -webkit-appearance: none;
    appearance: none;
    width: 26px;
    height: 26px;
    border-radius: 50%; 
    background: rgb(255, 255, 255);
}
